.animated {
  animation-duration: 1s;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.d-none {
  display: none !important;
}
.float-right {
  float: right !important;
}
.d-sm-inline-block {
  display: inline-block !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
